/* width and height */
*::-webkit-scrollbar {
	width: 7.5px;
	height: 7.5px;
}

/* Track */
*::-webkit-scrollbar-track {
	background: var(--extra-light-gray);
	/* border-radius: 15px; */
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: var(--light-gray);
	border-radius: 15px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	background: var(--gray);
}